name: Pure Content Backup

on:
  push:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  backup-content:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Re-initialize and Push
        run: |
         
          rm -rf .git
          
         
          git init
          git config user.name "Backup Bot"
          git config user.email "bot@example.com"
          
           
          git add .
          git commit -m "Pure content backup $(date +'%Y-%m-%d %H:%M:%S')"
          
         
          
          REMOTE_REPO="https://x-access-token:${{ secrets.B_TOKEN }}@github.com/setunnk/setunnk.github.io.git"
          
         
          git push --force "$REMOTE_REPO" HEAD:main
